@media (max-width: 768px) {

    .detailContainer {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        background: white;
    }
    .detailContainer::-webkit-scrollbar {
        display: none;
    }

    .detailSubContainer {
        width: 100%;
        height: 100%;
    }
}